# Node modules
node_modules

# Bower components
public/bower_components
public/vendor

# Output directory
bin
build

# Uploads
public/uploads

# Logs directory
logs

# Configurated .env
.env

# Project files and things like that
.vscode
typings
*.sublime-project
*.sublime-workspace
