extends layouts/app

include mixins/forms

block title
    title Upload a new replay - osu!replay

block content
    .jumbotron
      h1 Take your stuff !
      br
      p
        | We moved at this address : 
        a http://osu-replay.info/
        br
        | However your replays have been saved, for finding them you just have to replace your link "https://osu-replay.herokuapp.com" by "http://osu-replay.info" as this :
      br
      hr
      .row
        .col-md-6
          p Old :
          code
            | https://osu-replay.herokuapp.com/replay/VyhA2PTql
        .col-md-6
          p New :
          code
            | http://osu-replay.info/replay/VyhA2PTql
      br
      hr
      p Have a nice trip !

block scripts
    script(type="text/javascript" src="/build/js/home.js")
