extends layouts/app

include mixins/forms

block title
    title Upload a new replay - osu!replay

block content
    .jumbotron
        h1 Welcome to osu!Replay
        p This website allows you to host for free your osu replays and share them to the whole world thanks to a single link!#[br]Choose a title, a description and select your replay file. Upon clicking the upload button, you will be redirected to a page containing all the previously entered informations you have indicated.#[br]You can then publish the link to whoever you want.

    br

    .well
        +form("replay","/replay", "POST", "multipart/form-data")
            +text("replay_title", "title", "Title")
            +text_area("replay_description", "description", "Description")
            +file("replay_file", "file", "File", ".osr")
            +submit("Upload")

block scripts
    //- script(type="text/javascript" src="/build/js/home.js")
