extends ../layouts/app

block title
    title Whoops! - osu!replay

block content
    .jumbotron

        h1 Whoops!

        p Seems like an error has occured within the application!
        p Error message: #{error.message}
